<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <suffix>.xml-suf</suffix>
    <files>
        <file>/home/herman/IdeaProjects/suffixing-app/files/1</file>
        <file>/home/herman/IdeaProjects/suffixing-app/files/2</file>
        <file>/home/herman/IdeaProjects/suffixing-app/files/3</file>
    </files>
    <output>xml</output>
</config>
